.first,.second{
    display: flex;
    margin-left: 5px;
    margin-right: 100px;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
}
h3{
    font-family: 'Abril Fatface', cursive;
    color: #295367;
}
.card{
    width: 20rem;
    height: auto;
    margin-left: 180px;
    margin-bottom: 50px;
    border-style: solid;
    border-width: .5px;
    border-color: #7e9ab9,
}

img {
    width: 20rem;
}
.card:hover{
    background-color:rgba(57, 192, 237, 0.3)
}

.container-fluid{
       
            width: 100px;
            height: 100px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
}
.link{
color: #295367;
}



@media only screen and (max-width: 600px) {
    .first,.second {
                display: flex;
                    margin-left: auto;
                    margin-right: auto;
                    justify-content: space-evenly;
                    margin-top: 50px;
                    margin-bottom: 50px;
                    flex-direction: column;
            }
            .card{
                width: auto;
                display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 0px;
            }
        }